[user]
        name = Tim Destan
        email = tim.destan@gmail.com
[push]
        default = simple
[filter "lfs"]
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true
        clean = git-lfs clean -- %f
[alias]
        aa = add --all
        ci = commit
        co = checkout
        d = diff
        ds = diff --staged
        dc = diff --cached
        dh = diff HEAD~1 HEAD

        l = !git log --color --pretty=format:\"%C(yellow)%h%C(reset) %ad %C(green)%s%C(reset)%C(red)%d%C(reset) [%an]\" --graph --date=short | less --no-init --quit-if-one-screen

        st = status
        p = status

        sl = stash list
        ss = stash show
[url "git@github.com:"]
	insteadOf = https://github.com/
